h1 {
    color:#E9967A;
    border: solid;
    text-align: center;
}

a {
    color:#808000;
}

.header {
    background-color:#808080;
}

.grid {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.navigation {
    padding-left: 1300px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.item {
    padding: 25px;
    margin: 25px;
}

.body {
    margin: 0px;
}